In [1]:
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, davies_bouldin_score, calinski_harabasz_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE

from yellowbrick.cluster import KElbowVisualizer

import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../dados/dados_totvs/mrr.csv', sep=';')

In [3]:
df

     CLIENTE      MRR_12M
0     T03360   485.245250
1     T01872   287.070309
2     T01899   628.717296
3     T01670   207.503636
4     T02817   890.027855
...      ...          ...
7304  TFEC42    25.538433
7305  TFECQ0   168.658757
7306  TFECSZ   446.790164
7307  TFEDLO   892.024902
7308  TFEE28  2089.950843

[7309 rows x 2 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7309 entries, 0 to 7308
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CLIENTE  7309 non-null   object
 1   MRR_12M  7309 non-null   float64
dtypes: float64(1), object(1)
memory usage: 114.3+ KB

In [5]:
# Definindo função de agregação pela moda

def agg_moda(x):
    m = x.dropna().mode()
    if not m.empty:
        return m.iloc[0]
    return np.nan

In [7]:
df = df.rename(columns={"CLIENTE": "CD_CLIENTE"})

In [6]:
df.columns

Index(['CLIENTE', 'MRR_12M'], dtype='object')

In [8]:
df_agrupado = df.groupby('CD_CLIENTE').agg('median').reset_index()

In [14]:
df_agrupado = df_agrupado.rename(columns={"MRR_12M": "MRR_12M_median"})

In [15]:
df_agrupado

     CD_CLIENTE  MRR_12M_median
0        CARAMU     2070.736708
1        T00053      448.951788
2        T00082      772.966671
3        T00145      222.549913
4        T00151      175.290512
...         ...             ...
7304     TFEE25       36.062790
7305     TFEE28     2089.950843
7306     TFEE29     1599.489256
7307     TFEE30      796.740271
7308     TFEE35     1681.542947

[7309 rows x 2 columns]